[2019-11-17 15:23] ZuluPro commented on #311
I think you can play with MySQL option to create `CREATE TABLE IF NOT EXIST` statements.

[2019-11-17 15:23] #311 closed

[2019-11-20 22:22] galt commented on #292
Your results seem miraculous. Please double-check them. Can you decompress and decrypt both of the files and recover the complete and correct original input? Perhaps you have labeled them backwards?

[2019-12-02 22:12] Orangensaft opened #314 "Failing with django 3"
Django 3 removed six from django.utils. This breaks django-dbbackup when using django 3.
[code]

[2019-12-03 13:39] alexanderoskin commented on #314
The same issue

[2019-12-05 02:53] SchrodingersGat commented on #314
Same

[2019-12-19 06:03] serranomorante commented on #314
I'm facing this problem too.

[2019-12-26 21:48] debdolph commented on #314
Any progress on this?

[2019-12-26 22:03] Natureshadow commented on #314
Thanks for keeping support for ancient versions forever :(.

[2020-01-02 09:50] EngFarisAlsmawi opened #315 "Integration with django-tenant"
Test with django tenant not worked.

details:

[2020-01-08 23:11] undiplomatic commented on #314
Same :/

[2020-02-01 13:59] #310 closed

[2020-02-06 15:57] timonweb commented on #314
Hi there, submitted PR #319 , so while waiting for it to be merged you can use my fork from: https://github.com/django-dbbackup/django-dbbackup.git

Just add this line to requirements.txt:

[code]

[2020-02-06 16:06] Natureshadow commented on #314
The change in that PR seems unrelated.

[2020-02-06 23:24] Natureshadow commented on #314
So, django-storages supports Django 3.0 now.

Can we get a release?

[2020-02-07 09:03] timonweb commented on #314
+1 for a release!

[2020-02-10 21:14] debdolph commented on #287
Maybe we could mirror it to GitLab ;)…

[2020-02-11 21:02] umaimehm commented on #314
Workaround until a stable release for Django 3 is laumcnhed:

Navigate into the virtual python env and search for string "django.utils.six"

You will probably get these files if the string is found:
env/lib/python3.8/site-packages/dbbackup/db/*

In all files, replace "django.utils.six" with string "six"

[2020-02-13 11:56] #287 closed

[2020-02-23 14:23] matburnham opened #321 "dbrestore: AttributeError: 'tuple' object has no attribute 'read'"
Trying to use dbrestore to copy the database from my server to my local dev environment, falls over with the following error:

[code]

While I'm using the dropbox backend, I'm just trying to load it locally.

[2020-02-28 01:43] yinhaibo01 commented on #314
+1 for a release

[2020-02-28 08:30] yhoiseth commented on #314
As a temporary fix, you can probably install the version you need using [this method](https://stackoverflow.com/questions/13685920/install-specific-git-commit-with-pip).

[2020-02-28 13:01] debdolph commented on #314
Yup, i know. But it isn't really a solution to add git dependencies to a project.

[2020-02-28 13:08] yhoiseth commented on #314
How is it not a solution?

[2020-02-28 13:17] pulse-mind commented on #314
It is a solution but it creates risk at each delivery on a production server.

[2020-02-28 14:03] Natureshadow commented on #314
Because it will prevent any sane product from deploying in production,
because a sane deployment process will block a production deployment
from untrusted sources, because every added source for dependencies is a
security risk.

[2020-03-01 12:00] pytholabsbot1 commented on #314
Works man! thanks

[2020-03-02 10:52] patroqueeet opened #322 "setting DBBACKUP_MEDIA_PATH not used"
when I check the code of v3.2.0:

[code]

it does not find this setting to be used anywhere. can that be?

[2020-04-01 16:52] FabrizioMontanari commented on #276
@ZuluPro
I creted pull request #324 to solve this issue.

[2020-04-02 19:50] schostac opened #325 "dbrestore database_name problem"
In settings, I've got `default` and `documents` databases. I run `python manage.py dbrestore --database=documents` and get an error (not important here) mentioning `default` database despite otherwise specified.

I looked into `get_connector` in `dbbackup/db/base.py `and indeed the wrong database name is passed. Then in `dbbackup/management/commands/dbrestore.py` I found `self.connector = get_conn

[2020-04-02 19:53] schostac commented on #314
So when released?

In the meantime, I've used this:

[code]

[2020-04-13 05:19] petriichuk opened #327 "Is it possible to disable autorename when use dropbox storage?"
Dropbox allows storing a history of a file, it's convenient to use that feature.

[2020-04-14 12:48] max-wittig commented on #314
The latest hash works, so we just need a new release. The last one was created **3 years ago**!

It's always sad to see projects, which are active but cannot be used as they don't release on regular basis. What do you think @pkkid @ZuluPro ?

[2020-04-14 18:30] ZuluPro commented on #314
@all
django-dbbackup 3.3.0 has been released on pypy

I'm am sorry for the latency, I didn't realise so much people were using this tool.
Is there anyone interested to be maintainer ?

[2020-04-14 18:30] #314 closed

[2020-04-15 07:17] Natureshadow commented on #314
Hi,

Thanks, AlekSIS reintroduced dbbackup tonight and the new release works great!

As we strongly depend on the ecosystem, helping you woth maintenance task would be something I could do.

[2020-04-21 17:37] noxxer commented on #197
And such a beautiful solution almost turned out...

[code]
until I realized that both locally and in production I can't make it work using Docker.

any ideas?

it seems that you can share a single pg_dump file inside the container with the application, but I'm not sure that this is enough

[2020-04-23 01:51] lclee3390 commented on #294
Try to add the PostgreSQL bin directory path to the PATH environmental variable.
( Example : C:\Program Files\PostgreSQL\12\bin )

[2020-04-28 14:04] Nielssie commented on #282
Had the same problem.
postgres (PostgreSQL) 10.12 (Ubuntu 10.12-0ubuntu0.18.04.1)
downgraded from 3.2.0 --> 3.0
Fixed

[2020-05-05 22:59] poiedk commented on #197
Finally got it work!!!!

Here's my Dockerfile

`FROM python:3.8.2-alpine3.11
RUN apk add --no-cache \
    postgresql-client \
    postgresql-dev \
    pkgconfig \
    git \
    gcc \
    openldap \
    libcurl \
    python3-dev \
    gpgme-dev \
    libc-dev

# set work directory
WORKDIR /usr/src/app

# set environment variables
ENV PYTHONDONTWRITEBYTECODE 1
ENV PYTHONUNBUFFERED 1

# install depen

[2020-05-07 00:17] budlight commented on #257
the --clean option for postgresql needs to add --if-exists

this is what causes this error https://github.com/django-dbbackup/django-dbbackup/blob/master/dbbackup/db/postgresql.py#L51

but it honestly is a good thing and you should simply add --if-exists when adding --clean

[2020-05-12 04:44] tanjyeyee opened #329 "Migrating from SQLite to Postgres issue"
I run `python manage.py dbbackup` to dump my SQLite database.

Switch to Postgres database in settings.py, migrate to ensure schema is the same.

Run `python manage.py dbrestore` and I get this error:

[code]

Any tips?

[2020-05-16 19:20] VenturaFranklin commented on #213
@ZuluPro if the intended behavior is to allow dump_suffix to add additional parameters to the dump commands it does not seem to work as intended.
Specifically, pg_dump and mysqldump do not seem to allow options after the database name. mongodump does however.
And so if I set the dump_suffix I get the command:
`pg_dump  --host=localhost --port=5432 --username=postgres --no-password --clean DATABASE

[2020-05-21 16:48] silviogutierrez commented on #301
I thought this was related to special characters, but it seems like this actually adds quotes to any password and thus all Postgres passwords fail? Could that be the case?

[2020-05-21 16:54] silviogutierrez commented on #301
Upon more research, that's almost certainly the case: this code:

https://docs.python.org/3/library/shlex.html#shlex.quote

is meant to be used in command arguments, not as an environment variable. Because we're setting an environment variable, the quotes are interpreted literally.

I'm pretty sure this means Postgres authentication is entirely broken right now, which is surprising since this is a

[2020-05-28 17:21] petriichuk commented on #327
fix with [PR](https://github.com/jschneier/django-storages/pull/873) to django-storage

[2020-05-28 17:21] #327 closed

[2020-06-04 08:55] mnieber opened #330 "The docs mention `base_url` but it seems not to be actually used"
I tried to set `base_url` in `DBBACKUP_STORAGE_OPTIONS` and it seems to have no effect. Moreover, afaict there is no mention of `base_url` in the source code (I searched on github).

[2020-06-07 08:05] EhsanSafir commented on #234
that is work in my system

[2020-06-16 13:08] voiddragon commented on #329
You should be using django's dumpdata and loaddata instead which convert the data to a standard format

https://docs.djangoproject.com/en/3.0/ref/django-admin/#dumpdata

[2020-06-17 21:46] asaf-kali opened #331 "Logging configuration overrides project's settings.py"
Inside `settings.py`, lines 42-43:
[code]
These lines override the logging confoguration inside my project's `settings.py`.
To overcome this, I had to use those same 2 lines in my `AppConfig.ready` method, and restore my settings (by overriding `dbbackup`'s logging config).

[2020-06-17 23:29] asaf-kali commented on #331
See pr #332

[2020-07-02 18:15] bittner commented on #284
I spent quite some time to figure out the solution. The only problem with the documentation, currently, is that the `'host'` option doesn't exist anymore with [django-storages](https://github.com/jschneier/django-storages/blob/master/storages/backends/s3boto3.py#L293-L324). Instead, we now need to use the `'endpoint_url'`, e.g.

[code]
You can look up the available options from `get_default_settin

[2020-07-02 20:53] #284 closed

[2020-07-02 21:04] bittner commented on #304
@ZuluPro Could you verify the build configuration on [Readthedocs](https://readthedocs.org/projects/django-dbbackup/builds/)? The last (automatic) build was 3 years and 9 months ago. It should build automatically on each change.

[2020-07-02 21:25] ZuluPro commented on #304
@bittner  Done!

[2020-07-03 05:41] maqib10 opened #334 "Special Characters like *, # not allowed"
Hi, I am using this package **V3.3** to backup my database. I am having special characters in db password. This package takes only abcd@123 not taking abcd*#123@45. When I removed * and # from the password. This runs. Could you tell me which special characters this application will take?
Or if you consider this as bug please resolve this and update.

[2020-07-03 06:17] bittner commented on #304
@ZuluPro All but the "latest" docs builds ran. Can you trigger also "latest"?

Personally, I would remove the "master" version and use "latest" instead. Everything else seems confusing. What do you think?

[2020-07-03 08:03] bittner opened #335 "Deduplicated backups (e.g. Borg or restic)"
IIUC, the current feature set requires you to handle rotating the backups yourself.

- Whether you compress, encrypt and store to whatever backend, there will always be something like a tarball for every new execution of a backup process. Hence, you have to deal yourself with deleting old copies (and keeping selected ones, e.g. one every week for the last 3 months) to make sure you don't run out o

[2020-07-03 12:34] ZuluPro commented on #304
Hello @bittner

You are right but the problem is this project only has 1/2 maintener.
I don't have the time to work on it and we are open for new members.

We could automate PR Success -> Merge Master -> Publish Pypi and docs
But backup is really a critical task and I don't want to merge or publish blindly.

[2020-07-09 14:18] ahmadore opened #336 "DB RESTORE DOES NOT PROCEED"
Hi,

i am using python3.6 and django-dbbackup==3.3.0 and django==1.11. i am unable to restore my backups. when i run the command `python manage.py dbrestore` the terminal does not proceed after confirming 'Are you sure you want to continue? [Y/n]'. Please how do i go about resolving this?

[2020-07-09 14:49] ahmadore commented on #336
Never mind, was able to resolve it by reverting to `django-dbbackup==3.0.2`

[2020-07-09 14:49] #336 closed

[2020-07-25 10:06] RidenShark commented on #251
@ZuluPro, can you a bit more specific?

Django's docs say

[code]

So where should I import the `dbbackup` command from? Sorry, I am a starter. Can you give me an example?

I am trying to do something like `management.call_command('dbbackup')` with celery beat. Can you help?

[2020-07-25 12:03] ZuluPro commented on #251
Hi @RidenShark ,

I would just write:

`management.call_command('dbbackup', interactive=False)`

Glad to help

[2020-07-25 17:45] RidenShark commented on #251
@ZuluPro, I am not sure if this error is caused by celery or dbbackup. Apologies if this doesn't belong in this thread. I am posting it here as it is still related to the command. Delete it if it is irrelevant.

I am getting `django.db.utils.DatabaseError: DatabaseWrapper objects created in a thread can only be used in that same thread` error when I try to run the command in a celery beat task.

[

[2020-08-09 21:04] jonathan-s commented on #245
+1

[2020-08-18 12:38] mjlabe commented on #322
You have `//dbbackup/`. Is that a typo or the problem?

[2020-09-03 10:54] iAnanich commented on #272
`pg_dump` requirement should be listed on "Installation" section of ReadTheDocs

[2020-09-09 21:14] ramonamg17 commented on #257
I've been receiving the same warnings:
'UserWarning: Error in db restore: index django_content_type_app_label_model_76bd3d3b_uniq already exists
  warnings.warn("Error in db restore: {}".format(err))'

Any suggestions?

[2020-09-13 12:41] jonathan-s opened #343 "Single transaction and clean incompatible"
I'm having issues with single-transaction and clean. As mentioned [here](https://wiki.postgresql.org/wiki/Pg_restore) they seem to be incompatible. So a sane default should be to not be using a single transaction.

[2020-09-13 12:52] jonathan-s opened #344 "dump_suffix and extension"
There is a variable dump_suffix that works correctly and in postgres there is a class instance variable called extension that is not used at all. Ideally that should be changed to dump_suffix as well.

[2020-09-13 13:07] jonathan-s opened #345 "Typo in tox"
https://github.com/django-dbbackup/django-dbbackup/blob/master/tox.ini#L55

[2020-09-13 14:00] jonathan-s opened #346 "Using postgres binary connector and doing a pg_restore"
Gives me the error `pg_restore: [archiver] input file does not appear to be a valid archive` this happens if you've set the flag `-z` when using the binary connector. It shouldn't be possible to shoot yourself in the foot like this.

Also related to: #213

[2020-09-14 15:46] TristanSmithlib commented on #122
I had the same issue but I discovered that the setting "read_default_file" is specific to the MySQL engine. Perhaps a more universal approach to separating the sensitive info (that is also compatible with django-dbbackup) is to have a base settings file which is tracked in version control and a private settings file which is not tracked in version control, but which imports all the settings from t

[2020-09-15 13:34] mjlabe opened #347 "password authentication failed for user"
When I try to backup a Postgres database, I get the following error:

`pg_dump: [archiver (db)] connection to database "my_db" failed: FATAL:  password authentication failed for user "my_db"`

Even though the password is set, the command still uses --no-password.

I have tried using DBBACKUP_CONNECTORS and not, but it still can't authenticate.

[code]

Why is the command sent without a password (`

[2020-09-15 13:45] mjlabe commented on #347
Looks like I need to create a pgpass file.

[2020-09-15 13:45] #347 closed

[2020-09-18 01:28] banagale commented on #272
I also encountered this after attempting to run using django inside a dockerized container of alpine linux. 

As far as I can tell, Alpine's minimum  postgres dependency for `psycopg2`  is `postgres-dev`, however you must also `apk install` \`postgres-client\` to make `pg_dump` available on that machine.

A few more notes and links [here](https://stackoverflow.com/a/63948100/4028977). I agree with

[2020-09-19 16:51] jonathan-s commented on #157
Closing this issue as it is no longer relevant and the suggested change would be better implemented elsewhere.

[2020-09-19 16:51] #157 closed

[2020-09-19 16:57] jonathan-s commented on #190
A PgDumpBinaryConnector now exists so this can be closed.

[2020-09-19 16:57] #190 closed

[2020-09-19 17:06] jonathan-s commented on #61
Closing this, we can keep the discussion in #235

[2020-09-19 17:06] #61 closed

[2020-09-19 17:16] jonathan-s commented on #293
Kind of related to #245, so close this issue once that is done.

[2020-09-20 13:50] jonathan-s commented on #291
It looks like this is a permission issue, some changes to postgresql.conf described [here](https://stackoverflow.com/questions/40991185/postgresql-permission-denied-for-large-object) should make this work. Let me know if that is enough. I don't think there is anything that should be changed in this package.

[2020-09-20 13:50] #291 closed

[2020-09-20 13:57] jonathan-s commented on #322
Yeah, it seems like it's actually not used anywhere..

[2020-09-20 14:16] jonathan-s commented on #296
All of these issues are fixed.

[2020-09-20 14:16] #296 closed

[2020-09-20 14:27] jonathan-s commented on #197
@bhanduroshan, It looks like you've resolved your issue. It's unclear if there is anything that we should be doing / add to this project to make things easier. If you feel like something concrete can / should be done we can re-open this issue.

[2020-09-20 14:27] #197 closed

[2020-09-20 14:35] jonathan-s commented on #325
So it's been fixed in master, but the latest release (3.2.0) still contains the line `self.connector = get_connector('default')`.

[2020-09-20 14:37] jonathan-s opened #350 "Todo for new release"
- [ ] Write a changelog for all the changes since 3.2.0 related to #242
- [x] Close this issue when released https://github.com/django-dbbackup/django-dbbackup/issues/325
- [x] There's already a 3.3.0 release. So need to make a correct tag for that.
- [ ] Close #213 when released as that issue should be solved with that.
- [ ] Go through the doc tags and write documentation for those.
- [ ] Lintin

[2020-09-20 15:02] iAnanich commented on #347
Solution with `pgpass` file seems bad, because on server it would be really insecure, and even worse if using containers.

[2020-09-20 15:08] mjlabe commented on #347
Why? Worse than an environment variable? Is there an alternative solution?

[2020-09-20 20:28] #269 closed

[2020-09-20 20:30] #330 closed

[2020-09-20 20:36] jonathan-s commented on #325
@schostac if you follow the issue #350, I'll close that issue once we've made a new release.

[2020-09-20 20:36] #325 closed

[2020-09-20 20:41] jonathan-s commented on #288
As this issue seems to be resolved I'm closing this issue.

[2020-09-20 20:41] #288 closed

[2020-09-20 20:43] jonathan-s commented on #278
@Vadorequest, I'm closing this, feel free to ping me again if this isn't resolved.

[2020-09-20 20:43] #278 closed

[2020-09-20 20:44] #329 closed

[2020-09-20 20:44] jonathan-s commented on #329
Let me know @tanjyeyee if the issue isn't resolved.

[2020-09-20 20:48] #259 closed

[2020-09-20 20:50] jonathan-s commented on #240
Solved in #280

[2020-09-20 20:50] #240 closed

[2020-09-20 21:05] jonathan-s commented on #261
As #260 is merged I'm closing this issue.

[2020-09-20 21:05] #261 closed

[2020-09-20 21:29] jonathan-s commented on #270
Closing as a duplicate of #332

[2020-09-20 21:29] #270 closed

[2020-09-20 21:35] #232 closed

[2020-09-21 02:29] iAnanich commented on #347
In case of docker containers, env vars are really not secure, there is a security vulnerability discovered.
`pgpass` file could end up in docker image which leads to database password being leaked.
Docker has a solution like Docker Secrets, which uses files but in a bit different way - they are encrypted unless connected to a container, they are immutable and won't be ever end up in Docker Image.

[2020-09-21 02:30] iAnanich commented on #347
the point of my "pgpass solution is bad" comment is that `django-dbbackup` should NOT rely on it, or any other file, except it's Docker Secrets file.

[2020-09-21 11:39] mjlabe commented on #347
Wouldn't you just mount the file just like env files? It doesn't seem less secure than env files and seems more secure than environment variables.

[2020-09-25 09:57] mbaechtold commented on #322
This is a problem. When I run `python manage.py mediabackup` it puts my whole project into the tarball, not only the media folder. Furthermore this fails if there are symlinks within your projects.

[2020-09-26 12:20] mjlabe commented on #235
If I find some time (probably not soon), I would like to take a look.

One feature I would like is a flag to pick the storage, so daily backups could be local, but weekly backups would be local and S3.

[2020-09-26 12:53] #242 closed

[2020-09-26 14:08] jonathan-s commented on #304
The documentation is up to date now, so that issue should no longer be there.

[2020-09-26 14:08] #304 closed

[2020-09-26 15:04] jonathan-s commented on #301
@silviogutierrez Do you have a chance to verify if that's the case?

[2020-09-26 15:09] silviogutierrez commented on #301
@jonathan-s : yes, that's the case. I fixed it in my Docker builds by running this beauty:

[code]

[2020-09-26 15:17] jonathan-s commented on #301
Thanks! @silviogutierrez I'll make sure that this gets fixed in the next release!

[2020-09-26 19:36] #331 closed

[2020-09-26 19:59] jonathan-s opened #355 "Issues with dump_suffix"
As described by @VenturaFranklin, dump_suffix does not work exactly as intended. See -> https://github.com/django-dbbackup/django-dbbackup/issues/213#issuecomment-629694161

[2020-09-26 20:01] jonathan-s commented on #213
@patrickhallen pg_restore has now been implemented (albeit it's not yet the default, it will be in the next release). Is there anything else one should know about this with regards to permissions for pg_restore?

[2020-09-26 20:05] jonathan-s commented on #285
It is no longer imported there so closing this issue.

[2020-09-26 20:05] #285 closed

[2020-09-26 20:11] #344 closed

[2020-09-26 23:39] 24thDawn commented on #294
For those coming from google.
Running "python manage.py dbbackup" with Admin privilege's in console will solve this.

[2020-09-27 22:05] jonathan-s opened #356 "Document other backup solutions"
- Barman
- tarsnap

And how these can work together.

[2020-10-10 22:04] bittner commented on #356
* [runrestic](https://pypi.org/project/runrestic/) – _one of the more promising [attempts to provide restic](https://pypi.org/search/?q=restic) for Python_

[2020-10-10 22:06] bittner commented on #335
[runrestic](https://pypi.org/project/runrestic/) is one of the more promising [attempts to provide restic](https://pypi.org/search/?q=restic) for Python.

[2020-10-13 20:47] 24thDawn opened #358 "ERROR: role "rdsadmin" does not exist"
I got this while trying to restore an aws backup locally.

`dbbackup.db.exceptions.CommandConnectorError: Error running:  psql  --host=localhost --port=5432 --username=postgres --no-password --set ON_ERROR_STOP=on --single-transaction proddb2
ERROR:  role "rdsadmin" does not exist`

Is there a way to resolve this?

[2020-10-13 21:17] jonathan-s commented on #358
Have you tried to create the rdsadmin role locally? https://www.postgresql.org/docs/13/database-roles.html

[2020-10-13 21:26] 24thDawn commented on #358
I created the role locally using pgAdmin and it worked perfectly, thank you!

[2020-10-13 21:26] #358 closed

[2020-10-13 21:29] jonathan-s commented on #358
Glad to hear.

[2020-10-20 14:02] johnthagen opened #359 "Add support for Django 3.1"
Django 3.1 is currently not tested but [is released](https://docs.djangoproject.com/en/3.1/releases/3.1/).

https://github.com/django-dbbackup/django-dbbackup/blob/4ad864b2ae288ae1155c1bb2b2215121379c7223/tox.ini#L21

Relates to #353

[2020-10-20 15:57] johnthagen commented on #345
I don't think that is a typo: https://pypi.org/project/djongo/

The test env is for testing MongDB, and that package is for: "Use Mongodb as a backend database for your django project, without changing a single django model"

[2020-10-20 16:36] jonathan-s commented on #345
Well what do you know 😅

[2020-10-20 16:36] #345 closed

[2020-10-24 13:53] jedie commented on #329
Still exists with current v3.3.0: SQlite dump is not compatible with postgres importer :(

[2020-10-24 16:38] jonathan-s commented on #329
@jedie Did you try using the dumpdata approach that was described above?

Given that Sqlite and Postgres are two different databases I'm not surprised that the datadump is not compatible. Heck, the datadump between different versions of postgres can be incompatible. So the best approach is still probably going to be the datadump that voiddragon mentioned.

You might also be interested in trying pg

[2020-10-28 18:28] NoahRR commented on #282
@rightx2 did you ever find a solution to this? I'm getting the same error that you initially put (seems to not be recognizing the password I inputted in DBBACKUP_CONNECTORS)

[2020-10-28 23:42] jonathan-s commented on #282
Note to self: https://dba.stackexchange.com/a/243220/132631

[2020-10-29 00:02] jonathan-s opened #360 "Tests with passwords are mocked out -> docker containers"
Because the actual command to the database is mocked out we don't get an end to end test, which is quite useful in a case like this.

To be able to get to an end to end testcase you'd need to make certain configurations for the databases themselves. Which leads to docker. We'd need to create some kind of testing container for the databases.

[2020-10-31 10:33] #282 closed

[2020-10-31 10:34] jonathan-s commented on #282
If you install the package directly from github, this issue should now be resolved.

[2020-10-31 10:49] jonathan-s commented on #267
@LeeHanYeong, @mihow @pawisoon @manthanchauhan @retosteffen @marcelhekking @bahar. Do you think you could verify if you see this issue in current master?

[2020-10-31 11:03] #293 closed

[2020-11-01 18:21] jonathan-s commented on #315
This is a fairly specific ask which wouldn't benefit the majority of users at dbbackup. I'd be open to implement this against a commission though.

[2020-11-03 18:48] jonathan-s commented on #301
@silviogutierrez Do you think you could try current master and see if you see this issue? I think this should be fixed.

[2020-11-04 18:38] jonathan-s commented on #267
Should be fixed in #361, if you have any issues in current master let me know and we'll sort this out.

[2020-11-04 18:38] #267 closed

[2020-11-04 18:38] jonathan-s commented on #301
Should be fixed in #361, if you have any issues in current master let me know and we'll sort this out.

[2020-11-04 18:38] #301 closed

[2020-11-04 18:44] jonathan-s commented on #334
Should be fixed in #361, if you have any issues in current master let me know and we'll sort this out.

[2020-11-04 18:44] #334 closed

[2020-11-04 19:01] jonathan-s commented on #173
Closing this, if it is still an issue feel free to comment / re-open.

[2020-11-04 19:01] #173 closed

[2020-11-04 19:15] jonathan-s commented on #297
We could probably be better with documentation here. Right now we are using logging and it seems like the logging module [outputs things to stderr](https://stackoverflow.com/questions/14058453/making-python-loggers-output-all-messages-to-stdout-in-addition-to-log-file). With the right logging configuration on the user side this shouldn't be a problem.

[2020-11-04 21:16] jonathan-s commented on #335
@bittner What could this package do better than `runrestic` does?

[2020-11-04 22:42] bittner commented on #335
Integration with Django for both the database data and the static files?

Really, all the restic wrappers are just there because restic itself doesn't provide a way to maintain a configuration. The "promising" from above relates to merely the rather poor state of the other restic-related packages. :pensive:

[2020-11-05 08:09] jonathan-s commented on #335
If you'd like to provide a patch for this it would be welcome. If you take this on, please do describe the approach you'd like to take so that we can agree that it sounds sensible for both of us :).

[2020-11-05 08:10] #274 closed

[2020-11-05 09:12] jonathan-s opened #364 "Need documentation for #363"
We missed adding some documentation for the feature.

[2020-11-05 09:13] jonathan-s opened #365 "Create issue templates"

[2020-11-05 23:01] #365 closed

[2020-11-06 22:25] svezina opened #367 "Files in TAR truncated at 100 characters"
Hi all,

I just realized after wondering why I was missing restored images (using mediabackup) that the TAR backups that I send to S3 seem to truncate filepaths to exactly 100 characters.

A file like this in the Tar
images\websitehomebanner\image\5d6f4dd7-f3c6-4e65-9368-972a86bb16cf\originals\very_long_image_filename.jpg
will be exactred to
images\websitehomebanner\image\5d6f4dd7-f3c6-4e65-9368-9

[2020-11-06 22:41] svezina commented on #367
Nevermind. It was 7zip on Windows that was doing the truncating.
Works fine with "tar xjvf myfile.tar"
Sorry about that!

[2020-11-06 22:41] #367 closed

[2020-11-07 13:24] jonathan-s commented on #364
Actually didn't need any particular docs update.

[2020-11-07 13:24] #364 closed

[2020-11-07 21:49] jonathan-s opened #369 "Improve the CI"
# Feature Request

## Describe the solution you'd like
Improve github actions

- [x] Lint the code.
- [ ] Run functional tests. See #360
- [ ] Run tests for djongo
- [ ] Include coveralls / coverage after last success.
- [ ] Set up action for when pushing a tag. Should be some kind of release. See #326

## PR link
See #368 where we remove travis and replace it with github actions.

[2020-11-07 22:27] jonathan-s opened #370 "Remove six"
# Feature Request

## Describe the solution you'd like
Since we've removed support for older python versions we can now also remove six.

[2020-11-07 22:32] #359 closed

[2020-11-11 02:57] jerinpetergeorge commented on #370
I hope we don't need any extra test cases as well as doc improvements, what do you think @jonathan-s

[2020-11-12 12:42] #370 closed

[2020-11-13 17:24] silviogutierrez commented on #301
@jonathan-s : confirmed, it works. Thanks for your work on this library.

[2020-11-18 18:28] jerinpetergeorge commented on #276
This issue can be closed since we have already merged the PR #324, can't we? @jonathan-s

[2020-11-18 19:29] jonathan-s commented on #276
That looks correct!

[2020-11-18 19:29] #276 closed

[2020-11-19 04:40] jerinpetergeorge opened #372 "MySQL backup freezing on active connection"
I was trying to write some *end-to-end* tests for #360 (and hence helping to complete #369). During the time I tried to generate the backup of the ***test database*** (or all databases). But, it hangs to infinity

## How Reproduce
[code]
Then, run the suite by **`python test_runner.py`**

# Fix

Using the [***`--single-transaction`***](https://dba.stackexchange.com/a/19533/206341) flag will solve

[2020-11-19 05:06] jerinpetergeorge commented on #372
This test case may not be relevant to our application, but I have a strong feeling that `--single-transaction` is more appropriate during taking the backups since the dump is a snapshot of the databases at the instant the dump started, regardless of how long the dump takes.

[2020-11-19 21:24] jonathan-s commented on #372
I'll take a look at this. Do you happen to have any other sources that can verify a 'correct' approach for making backups using mysql?

[2020-11-20 18:06] jerinpetergeorge commented on #372
MySQL support [many storage engines](https://dev.mysql.com/doc/refman/8.0/en/storage-engines.html) and the [**`--single-transaction`**](https://dev.mysql.com/doc/refman/8.0/en/mysqldump.html#option_mysqldump_single-transaction) flag is only applicable for the [**InnoDB**](https://dev.mysql.com/doc/refman/8.0/en/innodb-storage-engine.html) engine.  Fortunately, the InnoDB is the default storage eng

[2020-11-20 20:45] patroqueeet commented on #322
grmpf. my bad:

[code]

[2020-11-20 20:46] #322 closed

[2020-11-23 12:38] KessoumML opened #374 "Exclude some tables data from backup"
# Feature Request

Hi,
Sometimes doing migration to newer version of applications we have to make sure about every aspect of data integrity, in some cases there are tables generated by automations tools which we don't need to backup, so we need to exclude these tables when we use dbbackup because these data will be generated again with automation tools.

The plugin already support this under the h

[2020-11-23 12:53] jonathan-s commented on #374
Hi @KessoumML,
With #363 we merged the ability to exclude backuping the data in the tables for postgres. Is that what you are looking for? I would also like to know what database you are using.

[2020-11-23 16:58] KessoumML commented on #374
Hello Jonathan,
Actually yes !, this what I'm looking for, I have read the source code and I found that the --exclude-table-data is already supported.

I'm using postgres and pg_dump already has the option --exclude-table-data=pattern to exclude tables data but, dbbackup [options] doesn't contain any option to specify this excluded tables data.

I need an interface from dbbackup  (like: dbbackup -

[2020-11-23 21:35] jonathan-s commented on #374
The version on pip does not support the above. But if you do ´pip install git+https://github.com/django-dbbackup/django-dbbackup.git` you'd get access to everything on master.

We'll make a release at the end of the year at the latest so that all the other fixes will currently on master will be released.

[2020-11-24 12:18] KessoumML commented on #374
I have forked the repo and added the command to the interface, now I'm using dbbackup -x to exlude tables data.
Please update the readme file in Master by adding the new features
Thank you @jonathan-s , I'm wating for the new release, have a good day.

[2020-11-24 13:33] jonathan-s commented on #374
@KessoumML, I had a look at the commit you made to your own repo. If you just submit a PR I'll accept it as is.

[2020-11-24 16:01] KessoumML commented on #374
Okay, I'll make a PR, Thank you @jonathan-s

[2020-11-24 16:34] #374 closed

[2020-12-01 18:27] jerinpetergeorge commented on #372
Any suggestion on this? @jonathan-s

[2020-12-01 22:21] jonathan-s commented on #372
Hi @jerinpetergeorge, Thanks for asking again. I had missed the first message. Also well done on the research. Yes leaving single transaction as an optional flag sounds like the way to go.

This flag might not be used for the other databases, so if we try to use this flag with another database I would make sure that a warning is visible saying that this flag does nothing for that database.

[2020-12-01 22:59] jonathan-s commented on #372
Also, I'm not sure how many actually uses mongo. It's an odd choice for django to begin with.

[2020-12-02 05:24] jerinpetergeorge commented on #372
Sounds good to me.

Yeah, you are right. IMO, let's leave things for Mongo now. We can do that later if someone facing the issue with Mongo.

[2020-12-02 07:44] jonathan-s commented on #372
Yes, that's the way to go.

[2020-12-04 09:54] patroqueeet commented on #321
is there any solution known?

[2020-12-04 10:21] patroqueeet commented on #321
found my cause: forked `django-storages` lib. after upgrading it plus `dropbox` and `DBBackup` it all worked

[2020-12-04 20:21] jonathan-s commented on #321
Was the issue in django-storages?

Sent from my mobile

On Fri, 4 Dec 2020, 11:27 Jirka Schäfer, <notifications@github.com> wrote:

[2020-12-04 21:12] patroqueeet commented on #321
@jonathan-s can't really prove it, but it smelled like my local `django-storages` fork was slightly outdated...

[2020-12-05 10:43] jonathan-s commented on #321
Thanks, looking at the traceback it actually looks like it's the storage backend so I'm going to close this.

[2020-12-05 10:43] #321 closed

[2020-12-13 19:38] jonathan-s opened #377 "Compressing encrypted files should not be done."
# Bug Report

## Describe the bug
As mentioned in this [server fault post](https://serverfault.com/questions/89880/compressing-encrypted-files) you can't compress encrypted files which is what we try to do if use both the compression flag and the encryption flag.

See https://github.com/django-dbbackup/django-dbbackup/blob/master/dbbackup/management/commands/dbbackup.py#L81-L86

## Expected behavi

[2020-12-13 22:19] jonathan-s commented on #346
Looks like I had forgotten to specify the -z flag when restoring.

[2020-12-13 22:19] #346 closed

[2020-12-13 22:46] jonathan-s commented on #343
Seems to be working fine either way when I was using the PostgresBinaryDumpConnector.

[2020-12-13 22:53] #315 closed

[2020-12-13 23:06] #238 closed

[2020-12-13 23:06] jonathan-s commented on #238
Conversation moved to #254

[2020-12-13 23:10] jonathan-s commented on #209
If someone wants to take this up, they are welcome to, and we would welcome that contribution, but it's not super necessary and it seems like no one else has commented on this in the four years since it was created. So with that I assume no one really cares too much about this, and so I'm closing this for now.

[2020-12-13 23:10] #209 closed

[2020-12-13 23:11] jonathan-s commented on #195
We can specify a filename so that should be enough.

[2020-12-13 23:11] #195 closed

[2020-12-13 23:13] #191 closed

[2020-12-13 23:30] jonathan-s commented on #45
covered in #300

[2020-12-13 23:30] jonathan-s commented on #300
Requested by two other people in #45

[2020-12-13 23:32] jonathan-s commented on #250
Closing this due to inactivity, if you I hear back from you @inspiralpatterns I'd be happy to open this again.

[2020-12-13 23:32] #250 closed

[2020-12-13 23:40] jonathan-s commented on #231
As we have a reply here I'm going to close this.

[2020-12-13 23:40] #231 closed

[2020-12-18 00:47] ramtinabadi opened #378 "AttributeError: 'SpooledTemporaryFile' object has no attribute 'readinto'"
I get the following error while trying backup a Postgres db and upload it to the S3. The S3 setup works fine.

[code]

## Settings.py

[code]

## Versions

### Django-dbbackup
- pypi: 3.30

### External tools

- Python: 3.8
- Django: 3.1
- OS: Ubuntu 18.4

[2020-12-18 11:06] jonathan-s commented on #378
It looks like you're bumping into this issue described in the PR on comment here: https://github.com/python/cpython/pull/3249#issuecomment-719880320 As described in the comment a viable solution could be to monkeypatch SpooledTemporaryFile. If you've got time to test that I'd be keen to hear back.

[2020-12-18 11:11] jonathan-s commented on #378
A longer term fix would fix this in django itself..

[2020-12-21 14:50] johnthagen commented on #377
If you compress *first*, and then encrypt you should be able to have the benefits of both.

[2020-12-21 18:28] johnthagen commented on #377
Looking at the code, it looks like this is done in the correct order (compression first, to reduce size, and then encrypt).

[2020-12-25 22:29] ZuluPro commented on #377
@jonathan-s @johnthagen
Yes I compress, then encrypt, no issue

[2020-12-25 22:29] #377 closed

[2020-12-25 22:40] ZuluPro commented on #300
Hi @jonathan-s
I think @adi- requests **NOT** exclude.

Hi @adi-
Can expose why you would need too not exclude ?

[2020-12-25 22:44] ZuluPro commented on #335
Hi @bittner
dbbackup has a simple retention option: `DBBACKUP_CLEANUP_KEEP` and `DBBACKUP_CLEANUP_KEEP_MEDIA`
In number of backups

If you add the ``--clean`` option to the commands, it will apply this retention by guessing the date from fliename.

[2020-12-25 22:47] ZuluPro commented on #360
Hi @jonathan-s
You removed Travis CI, but there were functional tests:
https://github.com/django-dbbackup/django-dbbackup/blob/master/dbbackup/tests/functional/test_commands.py

[2020-12-25 23:11] jonathan-s commented on #360
In travis the functional tests were only ever tested for sqlite from what I understand. Ideally the functional tests should be ran for all types of databases since it could technically fail for one database but suceed for another.

[2020-12-26 07:38] adi- commented on #300
My mistake. Fixed.

[2020-12-26 07:45] jonathan-s commented on #300
Ah right, then I'll close this and open the other issue again.

[2020-12-26 07:45] #300 closed

[2020-12-29 16:55] LECARROU opened #380 "dbbackup with django/docker/celery/celery-beat not working: no error but no file stored?"
# Bug Report

Try to implement a periodic postgresql database backup using django/docker/celelry/celery-beat but can not find my file

## Describe the bug

I can create 'manually' a dbbackup file using python manage.py dbbackup and can recover the backup file default-PRT-063-2020-12-29-174901.dump in backup folder as specified in settings

but when I try to use celery and call_command('dbbackup'),

[2021-01-08 15:19] abinax commented on #245
+1

[2021-01-08 15:20] abinax commented on #245
still relevant after 3 years...

[2021-01-19 14:10] johnthagen opened #382 "Upload wheels to PyPI"
Wheels (`.whl`) for this package are [currently missing from PyPI](https://pypi.org/project/django-dbbackup/3.3.0/#files). Could wheels be uploaded for the current and future releases?

Read more about the [advantages of wheels](https://pythonwheels.com/) to understand why generating wheel distributions are important.

To create a wheel along with source distribution:

[code]

To upload wheels:

[

[2021-01-20 10:18] u3556490 commented on #382
Talking about PyPI, I noticed that the package code on PyPI appears to be outdated. I suppose it would be most suitable to report it here as a comment to another PyPI-related issue. The details of this problem is as follows:

When one downloads the package files from PyPI ([here](https://pypi.org/project/django-dbbackup/#files)) and extracts them, it appears that the Django app code is still in `3

[2021-02-17 21:16] Natureshadow opened #384 "[Security] PostgreSQL backup leaks password in command-line"
The PostgreSQL dumping code produces a database URI that is then passed verbatim on the pg_dump command-line.

Command lines are considered public, because normally, everyone with shell access to a system can read them (by calling `ps` or looking inside `/proc`).

All utilities using libpq can be configured using environment variables for this exact reason, which I will propose in a merge request.

[2021-02-18 18:51] jfilter opened #386 "S3: `region_name` must be set when using `endpoint_url`"
When setting a custom `endpoint_url` for S3 you must set the `region_name` as well. This is somewhat hidden in the [documentation of `django-storages`](https://django-storages.readthedocs.io/en/latest/backends/amazon-S3.html#settings).

I spent some hours to figure this out when trying to use the OVH S3 object storage.

The information should be added to the docs.
https://django-dbbackup.readthedo

[2021-03-10 17:48] eeintech commented on #245
Still relevant but @zxwild's workaround works just fine :smile:

[2021-04-11 19:57] johnthagen commented on #382
@jonathan-s Is this something you are able to look into? Not sure who exactly has PyPI permissions.

[2021-04-15 08:00] adi- commented on #246
Same in postgres...

[2021-04-27 16:33] pfiaux opened #387 "Make more pg_dump/pg_restore flags available for migrations across databases"
# Feature Request

Make more pg_dump/pg_restore flags available to facilitate operations across databases.

## Problem definition

When running dbbackup on one server and dbrestore on another server, especially when a separate database (i.e. migration) is used as well doesn't work. The default pg_dump/pg_restore settings include many operations that are database specific options and not relevant t

[2021-04-28 21:24] moshfrid commented on #245
+1

[2021-05-12 12:05] enzedonline commented on #267
I'm still seeing this issue.
django-dbbackup==3.3.0

Password contains caps, lowercase, numbers, !, _

[2021-05-18 12:55] johnthagen opened #388 "RemovedInDjango41Warning raised in Django 3.2 under pytest-django"
# Bug Report

Our test suite runs with the following command:

[code]

It errors due to a deprecation warning triggered by `dbbackup`:

[code]

Package versions:
- Python 3.9.5
- Django 3.2.3
- pytest-django 4.3.0
- django-dbbackup 3.3.0

[2021-05-24 20:01] m-aminiz opened #389 "dbrestore warnings"
Hi everyone
I execure dbbackup command so I got a .sql file from my sqllite database but when I try to restore this file I got below warnings. when I checked database created by dbrestore command I found out
 some of my records were not inserted.

E:\learning\thyrocx\thyrocx\venv\lib\site-packages\dbbackup\db\sqlite.py:75: UserWarning: Error in db restore: no such table: main.accounts_person
  war

[2021-05-25 16:57] djangomcdjangerson commented on #294
For anyone coming from Google running MySQL or MariaDB rather than Postgres but still getting a CommandConnectorError, you need to add the directory for MysqlDump.exe to your path and restart your IDE or console. In my case, that directory was C:\Program Files\MariaDB 10.5\bin.

[2021-06-03 11:45] millerthegorilla opened #390 "allow to override settings at run time"
# Feature Request

the settings to django storages can be overridden at run time, which can be useful, for example, if I am using the dropbox backend.

Currently the dropbox storage backend works fine with a long term o-auth token, but according to the info on the dropbox app site, long term oauth tokens are going to be deprecated in the future.  One can then obtain a short lived token using the d

[2021-06-03 13:07] millerthegorilla opened #391 "clean does not work with dropbox backend"
# Bug Report

With the dropbox storages backend configured when running `manage.py dbbackup -c` old backups are not cleaned up.

## Describe the bug

With the dropbox storages backend configured when running `manage.py dbbackup -c` old backups are not cleaned up.

## To Reproduce

install and configure the dropbox backend for django-dbbackup, and run the command `manage.py dbbackup -c` or `manage.

[2021-06-03 13:13] millerthegorilla commented on #391
Oh, and there is no error produced by dbbackup on failure to clean.

[2021-06-06 20:41] d-kahara commented on #380
If you have a separate container for your celery workers, the backup files are most likely being dumped in there.

[2021-06-08 16:04] johnthagen commented on #350
@jonathan-s To help with maintenance, you could consider applying to join [JazzBand](https://jazzband.co/).

[2021-06-14 08:15] dipendra-karki opened #392 "dbrestore error"
dbrestore fails whenever there has been a new migrations with addition or removal of new fields or tables i.e with slightly different schemas.
**Error messages are looks like what mentioned below:
[code]
These kinds or error happens when I want to restore to the previous state which has bit of different schema than the db that we want to restore and vice versa.

## To Reproduce
1. backup current d

[2021-06-23 21:07] JasurbekNURBOYEV commented on #315
You can use already-implemented PostgreSQL connector for django-tenants. Simply put connector mapper in your settings.py as below:

[code]

You don't actually have to use `dbbackup.db.postgresql.PgDumpConnector`, but this is a default one for PostgreSQL. There is `dbbackup.db.postgresql.PgDumpBinaryConnector` too, please refer to [docs](https://django-dbbackup.readthedocs.io/en/master/databases.ht

[2021-06-28 08:48] helghast127553 opened #393 "mediabackup is hanged while processing"
## Describe the bug

I want to use mediabackup command to backup media files and save in local system but everytime I run mediabackup command , it is hanged while processing.

## Screenshots

![Capture](https://user-images.githubusercontent.com/12635527/123608189-be6c6b80-d828-11eb-8d76-8702285bf611.PNG)
INSTALLED_APPS = (
    ...
    'dbbackup',
)

DBBACKUP_STORAGE = 'django.core.files.storage.Fi

[2021-06-29 08:56] ZuluPro commented on #393
Hi @helghast127553
How do you know that it isn't working ?

[2021-07-13 22:21] edmenendez opened #394 "DB Backups to S3 over 5GB Fail"
# Bug Report

## Describe the bug

When trying to create a backup that's larger than 5GB it fails. I realize this is django-storages failing and it's because of a limitation of S3, but there should be a way of automatically handling this. This is supported by django-storages as 1.5.1 see this [PR](https://github.com/jschneier/django-storages/pull/201).

## To Reproduce

Initiate a backup of a larg

[2021-08-06 07:52] HowManyOliversAreThere opened #395 "MySQL backups fail due to tablespaces"
# Bug Report

## Describe the bug

MySQL 5.7.31 / 8.0.21 introduced a breaking change to require the `PROCESS` privilege to perform `mysqldump`s that include tablespaces. A combination of the `--no-tablespaces` flag and setting `--column-statistics=0` can be added to circumvent the need for this `PROCESS` privilege, however there is no interface to django-dbbackup to allow this to happen, preventi

[2021-08-06 09:00] HowManyOliversAreThere commented on #395
Issue was ultimately resolved by simply utilising the `DUMP_SUFFIX` connector parameter, by adding the following to my Django settings:

[code]

[2021-08-06 09:00] #395 closed

[2021-08-06 18:59] matthieudesprez commented on #392
If losing your data is not an issue I think you could DROP your tables manually before running the restore

[2021-08-06 19:18] matthieudesprez opened #396 "pg_restore: error: error returned by PQputCopyData: SSL connection has been closed unexpectedly"
# Bug Report

## Describe the bug

I'm experiencing issues running the dbrestore command on a remote server (EC2) while the dbbackup is running fine.

Locally, both dbbackup and dbrestore are working succesfully and I can't find why it behaves differently in a different environment.

## Screenshots or reproduction

[code]

## Versions

### Django-dbbackup
- pypi: 3.3.0

### External tools
- Python

[2021-08-07 22:34] matthieudesprez commented on #396
After further analysis running pg_restore with --verbose mode, this issue seems to be caused by processing large tables of 1M+ rows, I suspect the remote server not having enough memory for sending large copy requests from the dump.

Running pg_dump directly I manage to find a way through this thanks to --exclude-table-data and --inserts which replaces copy with insert statements (way slower but a

[2021-08-08 15:21] Koperfild commented on #289
Same to me. On windows 10 with following root_path
`DBBACKUP_STORAGE_OPTIONS = {
    "oauth2_access_token": os.getenv("DBBACKUP_DROPBOX_TOKEN"),
    "root_path": "/backup",
}`
And `python manage.py dbrestore -z` outputs

    raise ValidationError("'%s' did not match pattern '%s'"
stone.backends.python_rsrc.stone_validators.ValidationError: 'C:/backup' did not match pattern '(/(.|[\r\n])*)?|id:.*|(

[2021-08-10 10:32] matthieudesprez commented on #396
If someone encounters the same issue, I was able to keep using dbbackup and not executing manually pg_dump by defining my own connector and basically overwriting the pg_dump command arguments.

[code]

and referencing it through:
[code]

[2021-08-17 18:23] enzedonline commented on #246
I just wasted 4 hours on this - backup user has an exclamation in the password. Error message telling me no password supplied when it's right there in the config:

    raise exceptions.CommandConnectorError(
dbbackup.db.exceptions.CommandConnectorError: Error running:  pg_dump  --host=localhost --port=5432 --username=db_backup --no-password --clean mydb
pg_dump: error: connection to database "mydb

[2021-09-14 10:04] tustunkok commented on #257
Is your problem resolved since then? I have almost the same problem with SQLite3 as well and could not find any useful issue pointing out this particular problem.

[2021-09-17 13:04] mcroni opened #397 "Password authentication failed"
# Bug Report

## Describe the bug
Running this code with `AWS S3` as my storage medium. The password to this username is correct but i get this error

## To Reproduce
```python manage.py dbbackup```

## Expected behavior
[code]

## Versions

### Django-dbbackup
- pypi: [e.g. 3.3.0]

### External tools

- Python: 3.6.9
- Django : 3.0.3
- OS : Ubuntu 20

[2021-09-19 10:08] Niqnil opened #398 "Path matches but getting [Errno 2] No such file or directory: '/root/usr/local/bin/pg_dump'?"
# Bug Report

_Please help us help you by filling out any applicable information in this template and removing the rest!_

## Describe the bug

I have django and postgres running in docker containers. I checked the path in the postgres container and used it in base.py DBBACKUP_CONNECTORS but still get the error.

postgres container shell
[code]
base.py settings
[code]

Error with DBBACKUP_CONNECTO

[2021-09-25 13:12] awtimmering opened #399 "ugettext_lazy breaks with Django 4.0 alpha 1 release"
Can a release be made including #342 (replace `ugettext_lazy` with `gettext_lazy`)?

The newly released [Django 4.0 alpha 1](https://www.djangoproject.com/weblog/2021/sep/21/django-40-alpha-1-released/) has dropped `ugettext_lazy`.
The latest release of django-dbbackup still uses `ugettext_lazy`. This was addressed in #342 however not yet released, meaning of dbbackup run into errors and can not t

[2021-10-19 22:09] mcroni commented on #397
@rugys yeah i have special chars like @

[2021-10-28 14:01] egorrrrrrrrr opened #402 "dbrestore doesn't restore objects with multiline TextField"
# Bug Report

dbrestore doesn't restore objects with multiline TextField

## Describe the bug

Database object wont restored if it contains multiple lines in a [TextField](https://docs.djangoproject.com/en/5.2/ref/models/fields/#textfield)

## To Reproduce

Create object with TextField. Then write a few lines in it. After that make a backup copy with the _dbbackup_. Delete your object. And then tr

[2021-10-30 02:57] JesusZerpa opened #403 "Error running `pg_dump` with `--no-password`"
# Bug Report

## Describe the bug

when run command: python manage.py dbbackup

## To Reproduce

run command: python manage.py dbbackup

## Expected behavior

Expected behavior is created backup file, I checked the code and the reason is when it load PGPASSWORD for any reason django-dbbackup is putting quotation marks on password, I repeated operation manually with a subprocess without quotation m

[2021-10-30 03:19] JesusZerpa commented on #403
The cause of the error is the quote () function that is in get_escaped_command_arg in the utils.py file when I remove it it worked

[2021-11-23 09:59] davidmarogy opened #405 "Cleanup should work for subfolders too."
# Feature Request

_Please help us help you by filling out any applicable information in this template and removing the rest!_

## Is your feature request related to a problem?

Currently i have the problem that i want to store my backups in subfolders (daily, monthly). And to clean each subfolder by itself. But cleanup does not work that way, it will only look at the previous defined  DBBACKUP_ST

[2021-11-30 21:52] RogueOverride opened #406 "TypeError: __init__() got an unexpected keyword argument 'access_key'"
# Bug Report
## Describe the bug
When trying to use Amazon S3 storage back end for storing the backups, I get an error saying 'access_key' is an unexpected argument. I am following accordingly to the documentation.

## To Reproduce

[code]

After performing the command to create a backup I get the following:
[code]

## Expected behavior
I expected it to act much like sending the file to a local fi

[2021-12-12 23:00] johnthagen commented on #399
Related to #381

[2021-12-12 23:02] johnthagen commented on #399
Should also include wheels in the next release& #382

[2021-12-12 23:05] johnthagen commented on #399
If @jonathan-s is no longer maintaining this project, there may need to be a new community fork. There have been no commits for a year.

[2021-12-13 08:29] pulse-mind commented on #399
May be @jonathan-s can give us is idea about that ?

I'm interesting by going forward on this subject

[2021-12-13 13:17] johnthagen commented on #399
@pulse-mind Probably what needs to happen is someone volunteers to fork, merges in the necessary 4.0 compatibility patches, and publishes under an available name on PyPI such as `django-dbbackup2`. We can then advertise the fork on the issues in this repo to make it more discoverable. To be a "friendly" fork, we offer to merge changes back to `django-dbbackup` if maintainers re-appear or are willi

[2021-12-13 13:39] pulse-mind commented on #399
@johnthagen why using a fork, it would be better to have the rights on the repo to do the job?!?
Then it would be possible to accept push requests, release versions...
I do not know how to publish on PyPi, if it is automatic when we create a version...?

[2021-12-13 13:42] johnthagen commented on #399
Ideally yes, but if the maintainers are not responsive, there is no one to grant anyone new permissions to this repo.

[2021-12-13 15:25] pulse-mind commented on #399
Agree with you.
We can let one week to @jonathan-s to answer ?

May be some others users like @ZuluPro may know something ?

Is it possible to know the list of the members who have this kind of permissions ?

[2021-12-15 12:59] ZuluPro commented on #399
Hi everyone,
I'm sorry for my absence and my late reply.

I absolutely don't have the time to maintain DBBackup but it would be a pleasure to pass the ownership to someone with more time and knowledge.

Who's volunteer to maintain DBBackup ?

[2021-12-15 13:24] johnthagen commented on #399
I have enough time to do very basic maintenance (keep dbbackup working on latest Django / remove deprecation warnings / etc.) I'm currently doing the same for [`django-solo`](https://github.com/lazybird/django-solo).

If you also want to grant ability to upload to PyPI my username there is: https://pypi.org/user/johnthagen/

[2021-12-15 13:29] pulse-mind commented on #399
Thank you @johnthagen !! If you need help, let me know!

[2021-12-16 11:28] Archmonger commented on #399
Hey @ZuluPro

I'm coming over from the [Jazzband](https://github.com/jazzband) GitHub organization.

I would be interested in taking temporary ownership for this repo and doing the necessary changes to get it maintained by the org.

There are various members that I'm sure would support maintenance for this repo within Jazzband.

[2021-12-19 02:54] ZuluPro commented on #399
Hi @Archmonger
Yes Jazzband iis a good idea, I think a bit of maitenance and cleaning should be good before submit Dbbackup.

Hi @johnthagen
Thank you for you time and attention,
I give you the rights for the Github Organization and the the Pypi repo.

But like @Archmonger suggested, it could be a good thing to transfer it to Jazzband

[2021-12-19 12:21] johnthagen commented on #399
I also agree Jazzband would be a very good long term plan.

Thanks @ZuluPro!

[2021-12-19 14:06] Archmonger commented on #399
Let me know if you need any support on this!

[2021-12-19 18:08] ZuluPro commented on #399
Hi @Archmonger
Can you contact me on my mail box anthony.monthe[a]gmail.com ??
So I can give you grants on Pypi

[2021-12-19 18:12] johnthagen commented on #399
I'm currently working on cleaning things up for a release.

I think another issue with a checklist of what needs to be done to get this repo ready for submission to JazzBand, would be very helpful.

[2021-12-19 18:57] johnthagen opened #409 "Add PyPI Long Description"
# Feature Request

Currently the PyPI project description is blank: https://pypi.org/project/django-dbbackup/3.3.0/

Should read the `README` into `long_description` within `setup.py` to populate this.

[2021-12-19 19:16] #409 closed

[2021-12-19 19:23] johnthagen commented on #388
`django-solo` fixed this with the following commit: https://github.com/lazybird/django-solo/commit/c1e4155a297219d0c9635619ecc348e3e52b54e9#diff-2abddaf8bebbd95da38fb188ff4e36ff2f52af3200e412399c02307929352abb

[2021-12-19 19:29] #388 closed

[2021-12-19 20:00] johnthagen commented on #399
@ZuluPro I'm pulling together a `4.0.0b0` release that I'd like to push to PyPI for people to test out. I can't seem to upload and when I look at my projects on PyPI, I don't see `django-dbbackup`. I also don't see myself listed as a maintainer at https://pypi.org/project/django-dbbackup/.

Would you mind double checking if I was invited to the PyPI project? I'm also not sure where I would "see" i

[2021-12-21 15:30] quaintjames commented on #397
Can confirm that * also seems to be a breaking character. I'll be sticking to alphanumeric from now on.

[2021-12-24 07:36] banagale commented on #399
Bump. @ZuluPro Would you please look in on this?  Django 4.0 is released.

[2021-12-24 07:43] Archmonger commented on #399
I have the ability to create releases and will do so once @johnthagen tags a solid build

[2021-12-24 08:12] banagale commented on #399
I see, @johnthagen Do you see that @Archmonger is prepared to publish a release?

@Archmonger Can you clarify whether you consider a beta release, like the one @johnthagen mentioned above (`4.0.0b0`) as suitable for publishing on pypi? Or when you say "solid build" do you mean a tag of something that is ready for release?

[2021-12-24 08:18] Archmonger commented on #399
I just confirmed that john had not been invited to PyPI, so I've sent him an invite.

I am currently not a maintainer on the GitHub repo though so I'll need @johnthagen to add me as one if I am to tag releases in the future.

[2021-12-24 08:20] banagale commented on #399
@Archmonger Thank you for looking at that. I appreciate any further cooperation needed to get a Django 4.0-compatible release out the door.

[2021-12-24 08:21] Archmonger commented on #399
As a temporary workaround, you can install pip install via git `git+https://github.com/django-dbbackup/django-dbbackup.git`

ex `pip install git+https://github.com/django-dbbackup/django-dbbackup.git`

[2021-12-24 13:20] johnthagen commented on #399
`4.0.0b0` has been released: https://pypi.org/project/django-dbbackup/4.0.0b0/ 🎉

Thanks!

@Archmonger You have been invited as an owner to the `django-dbackup` organization

`4.0.0b0` has been tagged in GitHub, but as a pre-release it doesn't show up in the main page UI, so it might not have been obvious it had been tagged before: https://github.com/django-dbbackup/django-dbbackup/releases/tag/4.

[2021-12-24 13:20] #399 closed

[2021-12-24 13:23] johnthagen opened #415 "Please test 4.0.0b0 Release"
A new release `4.0.0b0` has been released onto PyPI: https://pypi.org/project/django-dbbackup/4.0.0b0/

Because it has been over a  year since the last release, the maintainers are asking users to test out this beta release. The main changes are that Django 4.0 is supported and the minimum supported Django is now 2.2, the oldest Django version still supported by the Django Team.

Please test this

[2021-12-24 13:26] johnthagen commented on #415
Pinging `django-dbbackup` users who have noted issues that this release should address:

@pulse-mind @Ajaysainisd @KessoumML @jerinpetergeorge @awtimmering @banagale @Archmonger

[2021-12-24 13:26] johnthagen commented on #382
Closed in #412

Wheels exist in `4.0.0b0`: https://pypi.org/project/django-dbbackup/4.0.0b0/#files

[2021-12-24 13:26] #382 closed

[2021-12-24 13:29] johnthagen commented on #406
Please try the `4.0.0b0` build (#415) and report if this issue still occurs.

[2021-12-25 01:08] Archmonger commented on #415
I have been testing `django-dbbackup@9d1909c30a3271c8c9c8450add30d6e0b996e145` for over a week and am happy to report no issues. I will switch to the tagged release `4.0.0b0` but since the changes are minor I don't expect any issues. It would be relatively safe to proceed with a 4.0 release.

[2021-12-25 01:11] Archmonger commented on #403
@JesusZerpa Please submit a PR for this when you get a chance.

[2021-12-26 20:45] pulse-mind commented on #415
Hi, I tested on a project. I did a backup before upgrade after after upgrade. I've got a file a little bit bigger but the extension was psql.bin.gz. When I edit it with a txt editor it looks like a pgdump but before I got a psql file.

[2021-12-29 15:17] Stally18 commented on #289
Im still having the same problem as the user above. On windows too. Running the 'manage.py dbbackup' gives me
[code]
options are
DBBACKUP_STORAGE = 'storages.backends.dropbox.DropBoxStorage'
DBBACKUP_STORAGE_OPTIONS = {'oauth2_access_token': 'token',}

setting the DROPBOX_ROOT_PATH doesnt help either

[2022-01-03 16:58] johnthagen commented on #415
I tested `4.0.0b0` on a production application (targeting Postgres 13) and backup and restore worked as expected.

[2022-01-04 11:00] zwiebelslayer opened #416 "Django import ugettext_lazy fails it should be import gettext_lazy"
DBBackup imports "from django.utils.translation import ugettext_lazy as _" which fails and throws an ImportError.
by changing the line in apps.py to
 from django.utils.translation import gettext_lazy as _
everything works as expected

[2022-01-04 12:51] johnthagen commented on #416
Duplicate of #399 closed in #342

Please try the `4.0.0b0` release on PyPI (#415).

[2022-01-04 12:51] #416 closed

[2022-01-07 17:03] jazzband-bot opened #417 "Implement Jazzband guidelines for django-dbbackup"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [django-dbbackup](https://github.com/jazzband/django-dbbackup)

It was initiated by @Archmonger who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free to

[2022-01-07 18:05] Archmonger commented on #417
@jonathan-s Can you add me on as a maintainer within Read The docs?

[2022-01-07 18:17] Archmonger commented on #417
Current roadblocks
1) Need to be assigned Jazzband project lead in order to reconfigure codecov
2) Need to be assigned RTD maintainer in order to add the bot/setup webhooks

[2022-01-07 18:43] jezdez commented on #417
Codecov doesn't need to be reconfigured, on the next test run it should just work. It's also not needed to be project lead to do any of that.

Not you personally should be assigned a RTD maintainer, but the jazzband-bot account.

[2022-01-07 18:44] jezdez commented on #417
This isn't what the TODO above says, @jonathan-s @ZuluPro please add the jazzband-bot account.

[2022-01-07 18:49] jezdez commented on #417
Regarding the project leads:

The https://github.com/jazzband/help/issues/262 proposal said that @Archmonger and @johnthagen want to become project leads.

The problem is that @Archmonger doesn't have any commits in the project that would make it clear that they can make decisions for the project. That's a no-go I'm afraid since project leads are supposed to be able to review releases when they ar

[2022-01-07 19:23] johnthagen commented on #417
@jezdez The reality is that both @Archmonger and I are very new to this project but we volunteered to get it off the ground and compatible with Django 4.0. Given @Archmonger's other public Python/Django record and initiative/willingness to help I still believe he's the prime candidate for a project lead of this project.

If we don't qualify for JazzBand, I understand. My main priority was to make

[2022-01-08 02:35] Archmonger commented on #417
Correct. We both only came on board to this project within the last ~20 days.

The previous maintainers shifted the project onto us to pull into Jazzband due to lack of time commitment indefinitely.

If I don't make the cut for not committing within that 20 day period that's fine. It was a busy EOY for me, but at least the repo is now maintainable within Jazzband.

[2022-01-08 02:44] Archmonger commented on #417
Wasn't certain if the bot would retroactively add maintainers, so I figured it'd be simpler from someone on the Jazzband side (myself/John) to add the bot to RTD.

Currently, both John and I do not have RTD permissions.

[2022-01-08 12:27] johnthagen commented on #415
@Ajaysainisd @KessoumML @jerinpetergeorge @awtimmering @banagale @zwiebelslayer Have any of you been able to test the `4.0.0b0` release? I was hoping to get a bit more feedback before pushing a non-beta release.

@pulse-mind Could you help dissect which commit/PR made the change you are referring to? I didn't see anything super obvious related to compression in the changelog.

[2022-01-08 13:13] Archmonger commented on #415
I've gone ahead and confirmed that this package is critically broken.

Although a backup is successfully made via the `dbbackup` command, it cannot be restored via `dbrestore`. This does not appear to be related to compression.

The console logs will get swarmed with errors which fall into one of these three categories:

1) index already exists
2) syntax error
3) unrecognized token

[code]

[2022-01-08 13:22] pulse-mind commented on #415
Hi,

Let me explain again because it was not clear enough:
**Test A (on linux on 26 dec 2021)**
* django-dbbackup 3.3.0 : I get a file not compressed (even if I ask compressed) that is a psql file (regular file that contains the requests)
* django-dbbackup 4.0.0b0 : I get a file not compressed (even if I ask compressed) that is a dumpfile
Note : psql (PostgreSQL) 11.14 (Raspbian 11.14-0+deb10u1)

[2022-01-09 13:09] johnthagen commented on #415
@Archmonger I wonder if your SQLite issue is related to #254 / #258 / #383 ?

Also, could you confirm if  this issue also exists for the 3.3.0 release? e.g. Is this a regression from 3.3.0 -> 4.0.0b0, or is this broken on the latest stable release too?

[2022-01-09 13:27] johnthagen commented on #415
@Archmonger I made a very disturbing discovery this morning. I noticed that the GitHub Actions aren't actually running the unit tests for this project 🤦‍♂️. It looks like the original transition to GitHub Actions #368 made a critical typo (`py36` vs `py3.6`) and as a result no environments have been running.

I opened #419 to fix this so that we can at least see the failing tests now. I'll need @j

[2022-01-09 13:29] johnthagen commented on #417
@jezdez I joined JazzBand. Please grant me admin of this repo so that I can begin to merge some critical PRs (#419). Or if the end result is that this project does not qualify for JazzBand, please migrate the repo back to `db-backup/db-backup`.

[2022-01-09 13:48] johnthagen commented on #415
@Archmonger I think taking a step back, let's get #419 merged and then I think we should consider trying to get the functional tests running in CI as well (#369).

I did confirm that the unit tests do not run for me under Windows, so there is likely at a minimum a Windows/SQLite issue.

[2022-01-09 18:57] Archmonger commented on #415
On the note of Windows compatibility, I think we need to have a tag up about the project direction.

Based on the project description it should be using traditional dump and restore mechanisms, but that description may no longer hold water as times have changed.

Additionally, dumpdata supports integrated compression in multiple different formats, so that's another thing for us to look towards.

S

[2022-01-09 20:13] johnthagen opened #421 "AppConfig.default_auto_field warnings generated in testing"
# Bug Report

## Describe the bug

Fix warnings generated during testing due to changes in Django 3.2+.

- https://github.com/jazzband/django-dbbackup/runs/4754819067?check_suite_focus=true#step:6:190

[code]

See:

- https://docs.djangoproject.com/en/3.2/releases/3.2/#customizing-type-of-auto-created-primary-keys
- https://stackoverflow.com/a/66971803

This would make it easier to see real warnin

[2022-01-17 12:32] njmsaikat opened #422 "getting storage error"
# Bug Report

getting storage error

## Describe the bug

DBBACKUP_STORAGE = 'django.core.files.storage.FileSystemStorage'
DBBACKUP_STORAGE_OPTIONS = {'location': BASE_DIR / 'media/backup/'}

I set my storage s this but getting this error

 except StorageError, err:
                       ^
SyntaxError: invalid syntax

## Versions

### Django-dbbackup
- pypi: 1.9.0

### External tools

- Python: 3

[2022-01-18 08:12] Archmonger commented on #415
In terms of porting, if we utilize the new Django internals for dumpdata, then we should expect zero backwards compatibility with the older backup files.

If we do take such an extreme approach, the effort of porting vs a new package is fairly insignificant. I think the debate comes down to, do we continue development to support this fairly antiquated backup method, or do we break compatibility in

[2022-01-19 20:11] Archmonger opened #423 "Deciding the Project's Future"
## Summary
Right now we're at a bit of an impasse. It's noted in the original readme that django-dbbackup `...tries to use the traditional dump & restore mechanisms`. In terms of the history of this project, it's possible that this used to be true. However, the current implementation appears to heavily rely on [custom connectors](https://github.com/jazzband/django-dbbackup/blob/3a4cdbf2b8a70ac3196

[2022-01-19 20:22] Archmonger commented on #415
@johnthagen Issue has been created for everyone to discuss upon. I think we should keep it open for a month or two to give people time to voice their thoughts.

[2022-01-20 12:56] johnthagen commented on #423
@Archmonger I think this is a great path forward for `django-dbbackup`. I think the reality is that the project hasn't been maintained for a while, so if you have a vision and the time to execute in a manner that keeps the project healthy and lets us build upon existing libraries, it would be great for this project.

[2022-01-28 16:40] Devtue commented on #389
@m-aminiz did you get any solution for this?

[2022-02-01 06:07] badalAtAkus opened #425 "dbbackup don't support psqlextra.backend"
File "D:\myvenv\lib\site-packages\django\core\management\base.py", line 398, in execute
    output = self.handle(*args, **options)
  File "D:\myvenv\lib\site-packages\dbbackup\utils.py", line 118, in wrapper
    func(*args, **kwargs)
  File "D:\myvenv\lib\site-packages\dbbackup\management\commands\dbbackup.py", line 58, in handle
    self.connector = get_connector(database_key)
  File "D:\myvenv\l

[2022-02-01 07:23] Archmonger commented on #415
@johnthagen do you feel comfortable with me pushing a 4.0 release?

[2022-02-01 12:41] johnthagen commented on #415
@Archmonger `4.0.0b0` has been working for *me* in production, but my only concerns are the two comments in this thread:

- https://github.com/jazzband/django-dbbackup/issues/415#issuecomment-1007987348
- https://github.com/jazzband/django-dbbackup/issues/415#issuecomment-1007988364

Given that there aren't any PRs to fix these issues and the beta fixes other issues (such as Django 4 support) I'm

[2022-02-01 18:22] Archmonger commented on #415
We do not have RTD access yet. I've reached out a couple times and still no response.

[2022-02-01 18:50] johnthagen commented on #415
I'd say feel free to go ahead and release 4.0.0 whenever you're ready. We bumped the major version to signal that this is a big change.

[2022-02-06 14:43] chrispijo commented on #267
Also on 3.3.0 and having this issue. As enzedonline mentions, using password without special characters works.

[2022-02-07 13:26] aaronvarghese opened #426 "Settings.py has a misleading comment"
# Bug Report

Settings.py has a misleading comment

## Describe the bug

This is not a technical bug, but just a misleading comment which confused us while using this library in our application

## To Reproduce

https://github.com/jazzband/django-dbbackup/blob/3a4cdbf2b8a70ac319655ad08dd8fc5e8c0f38d8/dbbackup/settings.py#L17-L20

## Expected behavior

According to the official documentation, it sh

[2022-02-08 08:17] #426 closed

[2022-02-12 09:18] Archmonger commented on #417
@jezdez Still need @johnthagen added as a project lead as well.

[2022-02-12 09:21] Archmonger commented on #423
I likely won't have time to develop this until somewhere around April, so until then this ticket will remain open for people to voice their opinions.

[2022-02-13 12:43] plumber-craic opened #428 "Add celery config to the docs"
# Feature Request

_Please help us help you by filling out any applicable information in this template and removing the rest!_

## Is your feature request related to a problem?

Request to add some info to the docs

## Describe the solution you'd like

A section for django-celery-beat periodic tasks

## Additional context

Since the docs mention that additional integration examples would be welcom

[2022-02-14 15:58] loonfly opened #429 "[WinError 2] The system cannot find the file specified"
Hi guys, I encounter weird error that I am trying to solve for few weeks and finally decide to ask here.

[code]

### Note
- am using windows
- running `python manage.py mediabackup` works.
- Used version 3.3, failed. then update to 4.0.0b0 Release, still failed.

I have tried set using connector also failed. anyone encountered the same issue?

[2022-02-15 05:24] TheAbhijeet commented on #245
As stated before the media restore works flawlessly but in case you are using **dockerized Postgres** and wanna migrate/copy/clone database following commands can help.

This will create a SQL file with data only

[code]
Before restoring you must run the migrations on the new host so that the new database has the tables in place before restoring.
[code]

[2022-02-17 09:47] SergSm commented on #267
+1 having the same issue with password on 3.3.0

[2022-02-17 09:48] SergSm commented on #267
But the way on Mac os the trouble has gone but on my ubuntu 18.04 still persists

[2022-02-23 08:51] grabut commented on #429
I also have the same issue.
I have not found the solution to solve it yet.

[2022-02-23 13:04] stephenfin commented on #395
fwiw, you'll see a similar issue if you use `mariadb-server` with `mysql-client`. This is easily fixed by replacing `mysql-client` and `libmysqlclient-dev` with `mariadb-client` and `libmariadbclient-dev` (or your distro equivalent packages)

[2022-02-28 22:57] quaintjames opened #430 "Typo in docs: DBBACKUP_CLEANUP_FILTER should be DBBACKUP_CLEANUP_KEEP_FILTER"
Typo in docs: DBBACKUP_CLEANUP_FILTER should be DBBACKUP_CLEANUP_KEEP_FILTER as per: https://github.com/jazzband/django-dbbackup/blob/2ef053cda8078817ad6872cb3719e38de3cfdaeb/dbbackup/settings.py#L20

Docs page here: https://django-dbbackup.readthedocs.io/en/master/configuration.html?highlight=DBBACKUP_CLEANUP_KEEP#dbbackup-cleanup-filter

Hopefully this helps someone!

[2022-03-07 20:39] liorp commented on #415
Waiting for it impatiently 😊 Any update on the release schedule?

[2022-03-16 00:03] fcoppey opened #431 "performance while backing up?"
Hello,

I’m wondering if the website is slowing down while performing the backup as it is very slow when I do a classic mysql dump from the command line for me. would that be the same here or you do not notice a change in pages loading and API response time?

Thanks for your insight

[2022-03-17 18:22] gilsonluiz commented on #429
Olá, houve alguma atualização sobre?

[2022-03-18 18:57] phroiland commented on #399
I know this issue is closed, but any word on getting an official release?

Appreciate the beta version.

[2022-03-18 19:01] gilsonluiz commented on #397
There was an update of the problem?

[2022-03-18 19:06] johnthagen commented on #415
@ZuluPro Could you please grant @Archmonger and myself permissions to the [ReadTheDocs](https://django-dbbackup.readthedocs.io/en/master/) site for this project? We should update the docs when doing the 4.0.0 release.

[2022-03-18 19:08] johnthagen commented on #399
Please follow #415. Unfortunately we are still waiting for the original maintainers to give access to the ReadTheDocs site.

[2022-03-20 02:49] Archmonger commented on #415
I've tried various methods of contact with no success. In the event that we don't hear back from the original maintainers, I propose we rename this repo to django-dbbackup2 upon completing our backend rework.

[2022-03-23 10:03] adi- commented on #415
Main functionality is working for me. However, there are some serious problems with logging. I have in my setting:

[code]

and I still see INFO logs.

Changing above to:

[code]

doesn't log **anything**

[2022-03-23 11:20] adi- commented on #397
Passwords should be escaped

[2022-03-25 14:58] VBobCat opened #432 "ImportError is raised when running from command line"
# Bug Report

## Describe the bug

**ImportError** is raised when running `python manage.py dbbackup` from command line

## To Reproduce

1. install with `pip install django-dbbackup`
2. add app `'dbbackup'` to INSTALLED_APPS list in **settings.py**
3. add DBBACKUP_STORAGE and DBBACKUP_STORAGE_OPTIONS vars to **settings.py** as per [docs](https://django-dbbackup.readthedocs.io/en/master/installati

[2022-03-31 05:03] meet1919 opened #433 "Fail to backup MySql db file"
`django version : 4.0.3`
`django-dbbackup version: 3.3.0`
`python version: Python 3.9.7`

**When running this command `python manage.py dbbackup` an error come:**
`ImportError: cannot import name 'ugettext_lazy' from 'django.utils.translation'`

**If from `site-packages/django-dbbackup/apps.py` you replace `ugettext_lazy` with `gettext_lazy`, the above error wont come but an new error comes.**
`db

[2022-04-04 02:54] wilinger commented on #415
Getting SuspiciousFileOperation error using Dropbox as storage from inside a Docker container even thought compressed file uploads successfully and I am able to decompress.

Django 4.0.3
Python 3.10.4
django-dbbackup 4.0.0b0

settings.py
[code]
[code]

[2022-04-04 03:21] Archmonger commented on #415
Yeah... That's another downside of this project using it's own backup logic. To my understanding, the backups are funneled through `FileField`, which have `SuspiciousFileOperation` protection against writing to anything besides the media directory.

This problem shouldn't exist when we redesign things. See:
- https://github.com/jazzband/django-dbbackup/issues/423

[2022-04-04 03:41] stunaz commented on #423
New future user here:  I'd like to use the project to backup/restaure my db/media. A completely new approach fully integrated with django itself feels ok to me

[2022-04-04 05:48] Archmonger commented on #415
I've reached out to RTD and am awaiting their response for ownership transfer.

[2022-04-04 11:42] benjaoming commented on #423
Hi! I used to maintain this project years back - I think that the proposals sound great. I'm only hear to show some sign of life since I'm receiving emails from Read the Docs with a warning about the project being abandoned, which I think it isn't. No one has contacted me in this regards.

[2022-04-04 11:49] johnthagen commented on #423
@benjaoming Thank you for posting! Could you please add @Archmonger and myself to have permissions to push to RTD? We are the current maintainers and would like to get out a new stable release.

[2022-04-04 16:24] Archmonger commented on #423
Hey @benjaoming sorry about that. I tried reaching out to jonathan-s and zulupro to gain access to the RTD. Neither has been responsive to providing access so I reached out to RTD themselves to assist.

[2022-04-05 13:04] EliasBoulharts opened #434 "Restore fail after editing DBBACKUP_FILENAME_TEMPLATE"
# Bug Report
## Describe the bug

When I try to restore the database the command return `CommandError: There's no backup file available.` whereas the backup file was listed when I run `listbackups`.

## To Reproduce

In setting file:
[code]

## Expected behavior

Restore the .dump file no matter the name.

## Workaround
Prefix the database file by database name.

[code]

## Versions

### Django-db

[2022-04-06 11:12] benjaoming commented on #423
@johnthagen @Archmonger - absolutely! I'll just need your RTD usernames to do that :+1:

[2022-04-06 11:14] benjaoming commented on #423
Aha! It seems that this is already in order, there was already a `jonathan-s` added as maintainer? And I've added `Archmonger`  supposing it's you?

[2022-04-07 01:50] Archmonger commented on #423
Thanks! I've confirmed I've been added as a maintainer. I'll add in the Jazzband bot and johnthagen as soon as I get a chance.

[2022-04-07 10:39] benjaoming commented on #423
Wishing you the best with this project, thanks for being in Jazzband :100:

[2022-04-08 14:36] Jamshidboltaboyev commented on #432
I know one solution, but that not good idea!
Soo, dbbackup use `ugettext_lazy`, but now django v4  use only gettext_lazy.
`ugettext_lazy = gettext_lazy` add
venv\lib\python3.10\site-packages\django\utils\translation\__init__.py line 112

[2022-04-10 17:00] banagale commented on #415
If you can demonstrate control of Pypi publishing and to this repository, RTD should come around on this issue in a responsive manner. Please post if you'd me to also reach out to them.

[2022-04-10 19:32] Archmonger commented on #415
I've obtained ownership of the RTD recently. PyPI ownership has also been obtained a while ago.

See this issue for where we are at
- https://github.com/jazzband/django-dbbackup/issues/417

[2022-04-10 20:08] banagale commented on #415
Ah! This is great progress. Thank you.

[2022-04-10 22:35] banagale commented on #423
@benjaoming Thank you for posting and your work to help this project move along.

@Archmonger I like the ideas you've presented and wanted to voice my encouragement to act with boldness and not be too weighed down by breaking changes.

[2022-04-11 17:57] pkkid commented on #423
I made it here because I was notified I no longer am a collaborator on the pypi project I created! No big deal, I don't think I had any significant contribution to this for many years now. It's been amazing to see the project grow beyond anything I imagined, and owe a huge thanks to @benjaoming for taking over when I had moved on. I'm personally fine with any direction the current maintainer wants

[2022-04-11 19:19] johnthagen commented on #423
@pkkid Thank you for sharing this valuable historical context!

[2022-04-11 19:57] Archmonger commented on #423
Aplogies @pkkid!

I'm trying to get all active maintainers funneled through the Jazzband org.

Within this GitHub org, PyPi & RTD access is really only needed for emergencies, everything else is handled by the Jazzband-Bot. To limit potential security vulnerabilities (ex. hacked PyPI accounts), I'm trying to keep that list short.

If you'd like to maintain control over the project I can put you in

[2022-04-11 20:35] pkkid commented on #423
Ha, no need to apologize. The project is in great hands, and I appreciate you and @johnthagen taking reigns to keep this project alive. Thank you!

[2022-04-14 10:27] andreyyudin commented on #433
For what it is worth I am on
`django version : 4.0.4`
`django-dbbackup version: 3.3.0`
`python version: Python 3.10.4`

and it worked fine after changing to `gettext_lazy`. Would be really great if `gettext_lazy` could be permanently fixed.

[2022-04-16 09:06] jedie commented on #329
What's about a "plugin" in django-dbbackup to use pgloader as importer?

[2022-04-16 10:15] Archmonger commented on #329
@jedie This issue would be resolved by the new project direction I've proposed in #423.

[2022-04-22 05:06] skyl commented on #282
seems like the same problem persists with the latest from pypi, 3.3.0

[2022-04-22 05:09] skyl commented on #282
I would like to sponsor but I only use shielded Zcash :D Create a page on free2z.cash and I will send $20 worth. I love django-dbbackup and use it all the time :D

[2022-04-27 18:31] jysatuo commented on #429
me  too  how i do to solve it

[2022-04-28 11:42] johnthagen commented on #431
@fcoppey In my particular use case I schedule backups (using `crontab`) during low-activity periods of time. When those activity are or if such times exist will of course vary from application to application.

[2022-04-28 19:42] Archmonger commented on #431
Yes, performance impact is expected. However, the amount of performance impact you'll see depends on your database server's hardware.

[2022-04-28 19:42] #431 closed

[2022-05-24 12:48] jezdez commented on #417
@Archmonger Done adding @johnthagen as project lead. @johnthagen apologies for the long delay.

[2022-06-06 12:35] #391 closed

[2022-06-18 20:15] blurrred commented on #397
I'm having the same issue.

[2022-06-28 14:54] andychoi commented on #403
Please correct it asap. It is failing due to --no-password
`pip install django-dbbackup`

[2022-06-29 12:28] pulse-mind commented on #415
Hello,
What is the plan about the 4.0.0 release using pypi ?

[2022-06-30 17:09] banagale commented on #415
Is there a reasonable amount of time before this package should be considered spun back out of jazzband?

For example, if @johnthagen is interested, is there a process for nominating and liberating a package?

I recognize how challenging maintenance is, and want to give JB time to sort out internal issues.

However, if this release isn’t unblocked by say August, is it fair to seriously start whate

[2022-06-30 17:27] Archmonger commented on #415
Yes - A transfer out of Jazzband is very much up for consideration.

However, somewhat ironically, a transfer out of jazzband would be blocked the same issue:
- https://github.com/jazzband/help/issues/196

I should be able to awkwardly circumvent Jazzband for PyPI releases. But, we definitely should still reconsider this package's organization.

[2022-07-09 01:20] medcherif17 opened #452 "Making the version 3.3.0 compatible with Django 4"
Hi
can you please make the version 3.3.0 compatible with django 4 (just changing the "ugettext_lazy")
thanks

[2022-07-09 03:38] Archmonger commented on #452
I've manually circumvented our issues with Jazzband to issue a 4.0.0 release to resolve this.

[2022-07-09 03:38] #452 closed

[2022-07-09 03:39] Archmonger commented on #415
4.0.0 has been manually released, circumventing formal Jazzband procedures.

[2022-07-09 03:39] #415 closed

[2022-07-17 23:39] emmetarries commented on #294
Pulling my hair out for a while over this same error, and adding the postgres bin to the path solved the issue for me! Thank you :)

[2022-07-31 14:31] pulse-mind opened #456 "How to get a RAW SQL file using postgresql ?"
Hi,

I am doing a postgresql backup on linux and I get a binary file. To restore it we need to use pg_restore.
I'd like to have a RAW SQL file where I can run a regular psql command.
How to do that ?

In the documentation it is written :

In the documentation it is written :

My database configuration is
`DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',...`

May be

[2022-08-11 02:23] VenturaFranklin commented on #429
See the thread at https://github.com/jazzband/django-dbbackup/issues/294#issuecomment-618129521 that specific answer is what fixed it for me.

[2022-08-11 04:53] Archmonger commented on #429
Would anyone like to PR that solution to the docs?

[2022-08-29 16:01] jerinpetergeorge opened #459 "Option delete old/specific backup"
# Feature Request
An option to delete old backups would be nice. This would be helpful if our storages are size sensitive (or price sensitive :wink: )

## Is your feature request related to a problem?

Yes, I wish we had an option to delete certain backups, then that would be used to delete old backups and free up the memory

## Describe the solution you'd like

Creating another management command

[2022-08-29 20:35] Archmonger commented on #459
Right now that exists in a different form.

`DBBACKUP_CLEANUP_KEEP` can be set to the maximum number of backup files you want to keep. When a backup is performed, django-dbbackup will delete the oldest files.

`DBBACKUP_CLEANUP_FILTER` can be used to change which files are allowed to be kept, if you don't want to simply cull the oldest files.

[2022-08-31 05:20] jerinpetergeorge commented on #459
That did the trick

[2022-08-31 05:22] #459 closed

[2022-09-26 23:56] chambersh1129 opened #460 "python-gnupg version increase breaks unencrypt_file function"
# Bug Report

## Describe the bug

Latest version of python-gnupg on PyPi is 0.5.0.  The file argument for gnupg.GPG().decrypt_file has changed from "file" to "fileobj_or_path".  This is causing tests to fail with error "TypeError: GPG.decrypt_file() got an unexpected keyword argument 'file'".

decrypt_file can be found [here](https://github.com/jazzband/django-dbbackup/blob/master/dbbackup/utils.

[2022-09-26 23:59] chambersh1129 commented on #460
If this gets accepted, I'd like to take a stab at fixing it.  Just want some input on whether it is better to compare versions or pin the python-gnupg version in the requirements/tests.txt file.

Compare versions pseudo-code:
`
from pgk_resources import parse_version

if parse_version(gnupg.__version__) >= parse_version("5.0.0"):
    use new fileobj_or_path
else:
    use file
`

[2022-09-27 06:45] Archmonger commented on #460
In general, it's best to practice pin the minimum version and keep the max unpinned. I'd be okay with reviewing a PR that supports `python-gnupg>=0.5.0`.

[2022-09-27 11:00] chambersh1129 commented on #460
I'll submit a PR to address this later today, thanks for the input.

[2022-09-27 23:11] #460 closed

[2022-09-29 00:15] chambersh1129 commented on #433
Looks like this fixed with #342 which was merged into pre-release 4.0.0b0, and 4.0.2 was just released yesterday if you don't want to use the pre-release version.  Could you attempt to upgrade and verify it is fixed?

[2022-09-29 00:19] Archmonger commented on #433
This one was fixed with version `4.0.0`.

[2022-09-29 00:19] #433 closed

[2022-10-05 14:09] rsommerard opened #463 "Restore issue with STP storage"
# Bug Report

Running the restore command give me an error which is due to this state `Restore tempfile created: 0 B`.

## Describe the bug

I use an FTP server as the backup storage. Backup is well stored on the server but restore command fail when I try to restore a backup.
If I download the file and run the command by giving the local path of the downloaded file it works well.

## To Reproduce

[2022-10-06 09:56] rsommerard commented on #463
FYI: for encrypted and compressed file, the same issue appears. A workaround is to add `input_file.seek(0)` after the input_file assignation in the decrypt block like so in `dbrestore.py` file:

[code]

[2022-10-12 12:08] stan-levend commented on #434
Hi, I'm going to be working on this issue in the next couple of days/weeks. Thanks

[2022-11-02 07:53] #434 closed

[2022-11-08 07:33] rapsli opened #466 "Support for tenants"
I'm using django tenants (https://github.com/django-tenants/django-tenants). Unfortuantely dbbackup does not (yet) provide support to backup tenants. This would be a great feature.

[2022-11-09 07:54] skyl commented on #245
I reckon I may have just hit this with Django 3.2 and python 3.10 and `django-dbbackup==4.0.2`. But, I haven't tried any `DBBACKUP_CONNECTORS`. It seems in my case I will work around by running migrate on an empty DB to create the schema and then restore works fine.

[2022-11-12 12:38] jurezakrajsek commented on #220
Im also having problems connecting to the SFTP.
Im normally able to connect with SSH through the ssh_key and it works.
But using django-dbbackup returns this error
[code]
My settings configuration
[code]
Any ideas what might be wrong.

Thank you for the help

[2022-11-16 00:46] adamKenneweg commented on #245
have the same thing, have to run it twice

[2022-11-16 12:56] lidyum opened #467 "HINT: Use DROP ... CASCADE to also remove linked objects."
Is there a solution for this error?

**HINT: Use DROP ... CASCADE to also remove linked objects.**

[code]

[2022-11-20 18:24] isedwards opened #468 "Refactor to remove tight coupling with Django??"
# Feature Request

I'm looking for a generic Python package for database backups that I can use on all projects (not just Django).

I can't find anything suitable and I was wondering whether there may be any appetite to make django-dbbackup more loosely coupled to Django?

## Describe the solution you'd like

I've not dug deep enough to know for sure whether this is sensible, but I think I'm sugge

[2022-11-21 21:16] isedwards commented on #423
I've just seen and read this pinned issue after raising #468 yesterday (where I suggested a generic Python backup package that returned to using "traditional dump & restore mechanisms").

Is there a place for such a package at JazzBand? This would be a fork of the current project under a different name that went in a different direction.

[2022-11-21 22:07] Archmonger commented on #423
`Jazzband` typically only hosts Django related packages, so I would doubt it.

Technically, it is fully possible to move the current connectors out of `Django-DBBackup` and have them be standalone.

However, if we implement the changes I suggested in this issue we would be firmly tied to Django and unable to separate any of that functionality.

[2022-11-21 22:46] benjaoming commented on #423
@isedwards I don't think you can start a new project in Jazzband based on a concept. See especially the section Viability here: https://jazzband.co/about/guidelines#viability

[2022-11-22 11:49] Archmonger commented on #468
To answer your question: Yes this it is possible to pull out [database related features](https://github.com/jazzband/django-dbbackup/tree/master/dbbackup/db) into a separate package.

While I personally don't have plans to do this, you are free to do this [under the conditions of the license](https://github.com/jazzband/django-dbbackup/blob/master/LICENSE.txt).

However, due [a high severity issue